@charset "utf-8";
/* CSS Document */

/* wrap */
#wrap {
	height: 26px;
}

/* main */
#main {
	height: 26px;
}

/* icon */
.icon {
	width:22px;
	height:22px;
	overflow:hidden;
	position: absolute;
	left: 10px;
	top: 0px;
	background: #693;
}