@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}

#mstore-hander {
	background-image: url(images/inder_hander_background.png);
	height: 82px;
}

#mstore-hander #mstore-logo {
	background-image: url(images/index_logo.png);
	height: 82px;
	width: 274px;
}

#mstore-bottom {
	background-image: url(images/index_botton_background.png);
	height: 30px;
	
}

#mstore-containner {
	background-color: #E6E6FF;
}


.mstore-common {
	border: 1px solid #000;
}

#mstore-bottom #mstore-exit {
	background-image: url(images/exit_button.png);
	height: 21px;
	width: 18px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	cursor:pointer;
}
#mstore-navigationbar {
	background-color: #000;
	height: 30px;
}

.mstore-navigationbar-li {
	float: left;
	
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	color: #FFF;
	cursor:pointer;
}

.mstore-navigationbar-clicked {
	color: #FF0;
	font-weight: bolder;
}
.mstore-containner-box {
	margin-right: auto;
	margin-left: auto;
}

#mstore-widget-ul {
	
}

.mstore-navigationbar-ul {
	list-style-type: none;
	float:left;
	height: 28px;
	overflow: hidden;
}

.mstore-button-next {
	background: none repeat scroll 0 0 #EEEEEE;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-right: 1px solid #999999;
	border-style: solid;
	border-width: 1px;
	height: 40px;
	width: 320px ! important;
	font-size:20px;
}

#mstore-moblie-choose {
	width: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.mstore-mobile-image {
	position: absolute;
	heigth: 60px;
	top: 0px;
	right: 6px;
}

.mstore-mobile-state {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	margin-top: 12px;
	text-align: center;

	width: 120px;
	margin-right: 5px;
	margin-bottom: 12px;
}

.mstore-mobile-btn {
	background: none repeat scroll 0 0 #EEEEEE;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-right: 1px solid #999999;
	border-style: solid;
	border-width: 1px;
	height: 25px;
	width: 120px ! important;
	font-size:14px;
	font-weight: bold;
}

.mstore-mobile-btn:active {
    background: none repeat scroll 0 0 #CCCCCC;
}

.mstore-button-next:active {
    background: none repeat scroll 0 0 #CCCCCC;
}

.mstore-containner-bottom {
	height: 40px;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	padding-bottom: 5px;
}

.mstore-widget {
	height: 120px;
	width: 120px;
	float:left;
}

.mstore-widget-icon {
	height: 88px;
	width: 88px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	cursor:pointer;
}

.mstore-pic-icon {
	height: 88px;
	width: 88px;
	margin-right: auto;
	margin-left: auto;
	cursor:pointer;
}

.mstore-widget-icon-click {
	background-color: #F69;		
}

.mstore-widget-text {
	height: 15px;
	width: 110px;
	margin-top: 3px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
	overflow: hidden;
}



.mstore-phonebrand-widget-icon {
	background-image: url(images/lenovo.jpg);
	height: 48px;
	width: 96px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	cursor:pointer;
}

.mstore-phonebrand-widget {
	height: 120px;
	width: 120px;
	float:left;
	background-color:#0F9；
}

.wappush-dialog {
	background-color: #CCC;
	height: 100px;
	width: 270px;
	position: absolute;
	left: auto;
	top: 100px;
	right: auto;
	border: 5px solid #333;
}
.wappush-dialog .wappush-dialog-box {
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
.wappush-dialog .wappush-dialog-title {
	height: 22px;
	background-color: #666;
	padding-top: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #F6F6F3;
	padding-left: 5px;
}

.wappush-btn {
	background: none repeat scroll 0 0 #EEEEEE;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-right: 1px solid #999999;
	border-style: solid;
	border-width: 1px;
	height: 25px;
	font-size:14px;
	font-weight: bold;
	cursor:pointer;
}

.wappush-btn:active {
	background-attachment: scroll;
	background-color: #999;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}

#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
#loading a {
    color:#225588;
}
#loading .loading-indicator{
    background:white;
    color:#444;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    height:auto;
}
#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}
