@charset "utf-8";

.page {
	width: 320px;
	height: 480px;
	overflow: visible;
	position: absolute;
	left: 0px;
	top: 0px;
}

#welcome {
	width: 320px;
	height: 370px;
	padding-top: 110px;
	background-color: #fff;
	color: #1BA1E2;
	text-align:center;
}